In [1]:
import pandas as pd
import json
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

/Users/briannagreen/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('AAGmediaDistrictsAggregate.csv')

In [3]:
# Select only needed columns
needed_columns = [
    'District ID', 
    'District Name', 
    'Student Enrollment', 
    'Students with Disabilities', 
    'Students Experiencing Poverty'
]

In [4]:
# Create a new dataframe with only these columns
selected_df = df[needed_columns].copy()

print(selected_df)

     District ID                     District Name  Student Enrollment  \
0           2063                        Adel SD 21                11.0
1           2113                      Adrian SD 61               282.0
2           1899                       Alsea SD 7J               252.0
3           2252                       Amity SD 4J               725.0
4           2111                       Annex SD 29               104.0
5           2005                    Arlington SD 3               130.0
6           2115                       Arock SD 81                11.0
7           2041                      Ashland SD 5              2506.0
8           2051                      Ashwood SD 8                 NaN
9           1933                      Astoria SD 1              1746.0
10          2208             Athena-Weston SD 29RJ               526.0
11          1894                       Baker SD 5J              5013.0
12          1969                      Bandon SD 54               628.0
13          2240                       Banks SD 13              1084.0
14          2243                  Beaverton SD 48J             38066.0
15          1976   Bend-LaPine Administrative SD 1             16954.0
16          2088                      Bethel SD 52              4927.0
17          2095                     Blachly SD 90               397.0
18          2052                 Black Butte SD 41                26.0
19          1974           Brookings-Harbor SD 17C              1274.0
20          1896                Burnt River SD 30J                44.0
21          2046                 Butte Falls SD 91               146.0
22          1995               Camas Valley SD 21J               213.0
23          1929                       Canby SD 86              4088.0
24          2139                      Cascade SD 5              2682.0
25          2185                 Centennial SD 28J              5419.0
26          1972                Central Curry SD 1               411.0
27          2105               Central Linn SD 552               512.0
28          2042                Central Point SD 6              4697.0
29          2191                    Central SD 13J              3030.0
30          1945                  Clatskanie SD 6J               658.0
31          1927                      Colton SD 53               620.0
32          2006                     Condon SD 25J               136.0
33          1965                     Coos Bay SD 9              2946.0
34          1964                     Coquille SD 8              1268.0
35          2186                     Corbett SD 39              1068.0
36          1901                 Corvallis SD 509J              6051.0
37          2216                        Cove SD 15               303.0
38          2086                    Creswell SD 40              1107.0
39          1970                   Crook County SD              3233.0
40          2089       Crow-Applegate-Lorane SD 66               295.0
41          2050                       Culver SD 4               662.0
42          2190                       Dallas SD 2              2977.0
43          2187               David Douglas SD 40              8640.0
44          2253                       Dayton SD 8               846.0
45          2011                   Dayville SD 16J                44.0
46          2017                      Diamond SD 7                13.0
47          2021                    Double O SD 28                 5.0
48          1993              Douglas County SD 15               218.0
49          1991               Douglas County SD 4              5504.0
50          2019                     Drewsey SD 13                 8.0
51          2229                       Dufur SD 29               349.0
52          2043                  Eagle Point SD 9              4064.0
53          2203                         Echo SD 5               319.0
54          2217                       Elgin SD 23               385.0
55          1998                      Elkton SD 34               212.0
56          2221                  Enterprise SD 21               418.0
57          1930                   Estacada SD 108              3174.0
58          2082                      Eugene SD 4J             16000.0
59          2193                  Falls City SD 57               176.0
60          2084                 Fern Ridge SD 28J              1389.0
61          2241                Forest Grove SD 15              5756.0
62          2248                     Fossil SD 21J              1933.0
63          2020                  Frenchglen SD 16                 4.0
64          2245                    Gaston SD 511J               476.0
65          2137                      Gervais SD 1              1249.0
66          1931                  Gladstone SD 115              1545.0
67          2000                    Glendale SD 77               286.0
68          1992                       Glide SD 12               730.0
69          2054                  Grants Pass SD 7              5550.0
70          2100       Greater Albany Public SD 8J              8709.0
71          2183             Gresham-Barlow SD 10J             11464.0
72          2014                Harney County SD 3               700.0
73          2015                Harney County SD 4              1049.0
74          2023    Harney County Union High SD 1J              1174.0
75          2114                      Harper SD 66               253.0
76          2099                  Harrisburg SD 7J               829.0
77          2201                        Helix SD 1               181.0
78          2206                    Hermiston SD 8              5335.0
79          2239                   Hillsboro SD 1J             18673.0
80          2024              Hood River County SD              3757.0
81          1895                 Huntington SD 16J                77.0
82          2215                      Imbler SD 11               308.0
83          3997                        Ione SD R2               121.0
84          2053          Jefferson County SD 509J              2659.0
85          2140                  Jefferson SD 14J               690.0
86          1934                       Jewell SD 8               118.0
87          2008                     John Day SD 3               462.0
88          2107                Jordan Valley SD 3                65.0
89          2219                       Joseph SD 6               284.0
90          2091               Junction City SD 69              1585.0
91          2109                     Juntura SD 12                 7.0
92          2057                 Klamath County SD              6989.0
93          2056        Klamath Falls City Schools              2724.0
94          2262                       Knappa SD 4               433.0
95          2212                    La Grande SD 1              1982.0
96          2059                  Lake County SD 7               691.0
97          1923                 Lake Oswego SD 7J              6871.0
98          2101            Lebanon Community SD 9              3875.0
99          2097                 Lincoln County SD              4871.0
100         2012                  Long Creek SD 17                21.0
101         2092                      Lowell SD 71              1034.0
102         2085                    Mapleton SD 32               140.0
103         2094                    Marcola SD 79J               916.0
104         2090                    McKenzie SD 68               180.0
105         2256                 McMinnville SD 40              6276.0
106         2048                   Medford SD 549C             13550.0
107         2205     Milton-Freewater Unified SD 7              1512.0
108         2249                    Mitchell SD 55              1554.0
109         1925               Molalla River SD 35              2464.0
110         1898                      Monroe SD 1J               369.0
111         2010                     Monument SD 8                55.0
112         2147                       Morrow SD 1              2218.0
113         2145                    Mt Angel SD 91               639.0
114         1968                Myrtle Point SD 41               546.0
115         2198                Neah-Kah-Nie SD 56               670.0
116         2199           Nestucca Valley SD 101J               506.0
117         2254                    Newberg SD 29J              4027.0
118         1966                  North Bend SD 13              2940.0
119         1924             North Clackamas SD 12             16730.0
120         1996               North Douglas SD 22               352.0
121         2061                  North Lake SD 14               223.0
122         2141                North Marion SD 15              1614.0
123         2214                North Powder SD 8J               253.0
124         2143              North Santiam SD 29J              2004.0
125         4131          North Wasco County SD 21              2764.0
126         2110                       Nyssa SD 26              1549.0
127         1990                      Oakland SD 1               629.0
128         2093                    Oakridge SD 76               484.0
129         3477                 ODE YCEP District               228.0
130         2108                     Ontario SD 8C              2158.0
131         1928                 Oregon City SD 62              7133.0
132         1926                Oregon Trail SD 46              4218.0
133         2060                     Paisley SD 11               201.0
134         2181                     Parkrose SD 3              2766.0
135         2207                   Pendleton SD 16              2881.0
136         2192                   Perrydale SD 21               317.0
137         1900                  Philomath SD 17J              1662.0
138         2039               Phoenix-Talent SD 4              2230.0
139         2202                   Pilot Rock SD 2               284.0
140         2016                   Pine Creek SD 5                 2.0
141         1897                  Pine Eagle SD 61               206.0
142         2047                   Pinehurst SD 94                 5.0
143         2081                Pleasant Hill SD 1               968.0
144         2062                       Plush SD 18                 8.0
145         1973       Port Orford-Langlois SD 2CJ               240.0
146         2180                    Portland SD 1J             43516.0
147         1967                      Powers SD 31               111.0
148         2009                 Prairie City SD 4              1343.0
149         2045                    Prospect SD 59               215.0
150         1946                     Rainier SD 13               801.0
151         1977                     Redmond SD 2J              6965.0
152         2001                  Reedsport SD 105               570.0
153         2182                     Reynolds SD 7              9597.0
154         1999                      Riddle SD 70               357.0
155         2188                  Riverdale SD 51J               553.0
156         2044                 Rogue River SD 35              1080.0
157         2142               Salem-Keizer SD 24J             37851.0
158         2104            Santiam Canyon SD 129J              3185.0
159         1944                   Scappoose SD 1J              2241.0
160         2103                        Scio SD 95              1946.0
161         1935                     Seaside SD 10              1438.0
162         2257                   Sheridan SD 48J               991.0
163         2195                 Sherman County SD               271.0
164         2244                   Sherwood SD 88J              4815.0
165         2138                Silver Falls SD 4J              3727.0
166         1978                      Sisters SD 6              1188.0
167         2096                    Siuslaw SD 97J              1188.0
168         2022                South Harney SD 33                 8.0
169         2087                South Lane SD 45J3              2636.0
170         1994                South Umpqua SD 19              1401.0
171         2225           South Wasco County SD 1               208.0
172         2247                        Spray SD 1                59.0
173         2083                 Springfield SD 19              9217.0
174         1948                  St Helens SD 502              2735.0
175         2144                     St Paul SD 45               245.0
176         2209                   Stanfield SD 61               497.0
177         2018                      Suntex SD 10                 3.0
178         2003                  Sutherlin SD 130              1326.0
179         2102                  Sweet Home SD 55              2251.0
180         2055  Three Rivers/Josephine County SD              4361.0
181         2242            Tigard-Tualatin SD 23J             11496.0
182         2197                    Tillamook SD 9              2018.0
183         2222                        Troy SD 54                 4.0
184         2210                      Ukiah SD 80R                31.0
185         2204                    Umatilla SD 6R              1399.0
186         2213                        Union SD 5               370.0
187         2116                        Vale SD 84               916.0
188         1947                   Vernonia SD 47J               549.0
189         2220                     Wallowa SD 12               201.0
190         1936           Warrenton-Hammond SD 30               969.0
191         1922       West Linn-Wilsonville SD 3J              9029.0
192         2255                  Willamina SD 30J               845.0
193         2002            Winston-Dillard SD 116              1268.0
194         2146                   Woodburn SD 103              5284.0
195         2251              Yamhill Carlton SD 1              1085.0
196         1997                    Yoncalla SD 32               270.0

    Students with Disabilities Students Experiencing Poverty
0                            *                             *
1                          12%                           29%
2                          17%                           50%
3                          16%                           29%
4                          13%                           37%
5                          16%                           41%
6                            *                             *
7                          16%                           26%
8                            *                             *
9                          18%                           29%
10                         13%                           38%
11                         14%                           30%
12                         14%                           39%
13                         16%                           20%
14                         13%                           22%
15                         12%                           21%
16                         20%                           41%
17                          5%                           28%
18                           *                             *
19                         17%                           41%
20                           *                           45%
21                         25%                           53%
22                         15%                           40%
23                         15%                           27%
24                         17%                           29%
25                         15%                           46%
26                         11%                           44%
27                         20%                           33%
28                         17%                           39%
29                         14%                           42%
30                         21%                           31%
31                         16%                           26%
32                         11%                           38%
33                         18%                           48%
34                         15%                           40%
35                         20%                           18%
36                         13%                           24%
37                         16%                           20%
38                         18%                           33%
39                         14%                           34%
40                         18%                           34%
41                         18%                           43%
42                         18%                           34%
43                         14%                           50%
44                         15%                           37%
45                           *                           41%
46                           *                             *
47                           *                             *
48                         18%                           39%
49                         15%                           40%
50                           *                             *
51                         21%                           31%
52                         16%                           46%
53                         10%                           21%
54                         18%                           38%
55                         15%                           32%
56                         20%                           21%
57                         13%                           27%
58                         15%                           29%
59                         18%                           57%
60                         22%                           33%
61                         16%                           35%
62                          8%                           15%
63                           *                             *
64                         18%                           29%
65                         17%                           39%
66                         17%                           25%
67                         17%                           50%
68                         19%                           36%
69                         16%                           45%
70                         15%                           36%
71                         15%                           38%
72                         17%                           38%
73                         10%                           18%
74                          7%                           23%
75                          9%                           36%
76                         18%                           33%
77                         11%                           18%
78                         13%                           39%
79                         15%                           28%
80                         15%                           31%
81                           *                           64%
82                         11%                           16%
83                         21%                           27%
84                         19%                           55%
85                         14%                           40%
86                         16%                           39%
87                         20%                           30%
88                           *                             *
89                         14%                           35%
90                         18%                           35%
91                           *                             *
92                         18%                           47%
93                         18%                           56%
94                         25%                           22%
95                         20%                           38%

In [5]:
# Convert '*' values to "null"
selected_df.replace('*', None, inplace=True)

# Convert '<5%' values to "5"
selected_df.replace('<5%', '5%', inplace=True)

In [6]:
# Process percentage columns - remove % signs and convert to numeric
percentage_columns = ['Students with Disabilities', 'Students Experiencing Poverty']
for col in percentage_columns:
    # Create a new column to hold converted values
    new_col = []
    
    for value in selected_df[col]:
        try:
            if pd.isna(value) or value is None:
                new_col.append(None)
            else:
                # Remove % and convert to float
                cleaned_value = str(value).replace('%', '')
                new_col.append(float(cleaned_value) / 100)
        except:
            # If conversion fails, use None
            new_col.append(None)
    
    # Replace the column with the converted values
    selected_df[col] = new_col

In [7]:
# Rename the percentage columns to indicate they are percentages
column_mapping = {
    'Students with Disabilities': 'Students with Disabilities %',
    'Students Experiencing Poverty': 'Students Experiencing Poverty %'
}
selected_df = selected_df.rename(columns=column_mapping)

In [8]:
# Convert to dictionary format with District ID as the key
result = {}
for _, row in selected_df.iterrows():
    district_id = row['District ID']
    result[str(district_id)] = {
        'District ID': district_id,
        'District Name': row['District Name'],
        'Student Enrollment': row['Student Enrollment'],
        'Students with Disabilities %': row['Students with Disabilities %'],
        'Students Experiencing Poverty %': row['Students Experiencing Poverty %']
    }

In [9]:
# Save to JSON file
with open('district_percents.json', 'w') as f:
    json.dump(result, f, indent=2)